.header h1{
    font-family: Koulen;
    font-size: 40px;
}

.header {
    background-image: url("./pics/top%20background.jpg");
    background-size: cover;
    text-align: center;
    height: 700px;
    width: 100%;
}

body{
    background-color: white;
    font-family: 'Georgia', sans-serif;
    margin: 0;
    padding: 0;
}

#main {
  margin: 0 auto;
  padding: 40px;
  text-align: center;
  width: 400px;
  height: 1000px;
  overflow: scroll;
}

#grad1 {
  height: 250px;
  background-color: #cccccc;
  background-image: radial-gradient(blue, yellow, green);
}

.about-me{
    font-size: 20px;
    opacity: 50%;
    font-family: 'Work Sans';
}

footer  {
    background-color: DarkViolet;
    text-align: center;
}

.title{
    font-weight: bold;
}

h1{
    color: Azure;
}