.header {
    background-color: CornflowerBlue;
    text-align: center;
}

.header h1{
    font-family: Koulen;
    font-size: 40px;
}

body{
    font-family: Georgia;
    background-image: url('https://content.codecademy.com/courses/learn-css-selectors-visual-rules/hypnotize_bg.png');
}

.about-me{
    font-size: 20px;
    opacity: 50%;
    font-family: 'Work Sans';
}

footer  {
    background-color: CornflowerBlue;
    text-align: center;
}

.title{
    font-weight: bold;
}

h1{
    color: Azure;
}