.header {
    background-color: Ivory;
    text-align: center;
}

.header h1{
    font-family: Koulen;
    font-size: 40px;
}

body{
    font-family: Georgia;
    background-color: #cccccc;
    background-image: radial-gradient(blue, yellow);
}

#main {
  margin: 0 auto;
  padding: 40px;
  text-align: center;
  width: 400px;
  height: 1000px;
  overflow: scroll;
}

.about-me{
    font-size: 20px;
    opacity: 50%;
    font-family: 'Work Sans';
}

footer  {
    background-color: DarkViolet;
    text-align: center;
}

.title{
    font-weight: bold;
}

h1{
    color: Azure;
}